SitioWebGNB/App_WebReferences/GNBServiciosNegocio/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59365/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59365/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AgregarTransacciones_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTransacciones" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarTransacciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTransaccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarTransacciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTransacciones" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarTransacciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTransaccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerTransacciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTransacciones" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerTransacciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTransaccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarConversiones_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarConversiones" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarConversiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarConversionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarConversiones_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarConversiones" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarConversiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarConversionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerConversiones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConversiones" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerConversiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConversionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarTransacciones_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransacciones" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarTransacciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransaccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultaXMLTransac_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaXMLTransac" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultaXMLTransac_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaXMLTransacResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultaXMLConver_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaXMLConver" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultaXMLConver_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaXMLConverResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LimpiarTransacciones_InputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarTransacciones" />
  </wsdl:message>
  <wsdl:message name="IService_LimpiarTransacciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarTransaccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LimpiarConversiones_InputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarConversiones" />
  </wsdl:message>
  <wsdl:message name="IService_LimpiarConversiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarConversionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListaTransacciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaTransacciones" />
  </wsdl:message>
  <wsdl:message name="IService_ListaTransacciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaTransaccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TotalizadoEUR_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalizadoEUR" />
  </wsdl:message>
  <wsdl:message name="IService_TotalizadoEUR_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalizadoEURResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AgregarTransacciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarTransacciones" message="tns:IService_AgregarTransacciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarTransaccionesResponse" message="tns:IService_AgregarTransacciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTransacciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarTransacciones" message="tns:IService_ActualizarTransacciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarTransaccionesResponse" message="tns:IService_ActualizarTransacciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTransacciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerTransacciones" message="tns:IService_ObtenerTransacciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerTransaccionesResponse" message="tns:IService_ObtenerTransacciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarConversiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarConversiones" message="tns:IService_AgregarConversiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarConversionesResponse" message="tns:IService_AgregarConversiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarConversiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarConversiones" message="tns:IService_ActualizarConversiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarConversionesResponse" message="tns:IService_ActualizarConversiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConversiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerConversiones" message="tns:IService_ObtenerConversiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerConversionesResponse" message="tns:IService_ObtenerConversiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTransacciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuscarTransacciones" message="tns:IService_BuscarTransacciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuscarTransaccionesResponse" message="tns:IService_BuscarTransacciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaXMLTransac">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultaXMLTransac" message="tns:IService_ConsultaXMLTransac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultaXMLTransacResponse" message="tns:IService_ConsultaXMLTransac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaXMLConver">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultaXMLConver" message="tns:IService_ConsultaXMLConver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultaXMLConverResponse" message="tns:IService_ConsultaXMLConver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimpiarTransacciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LimpiarTransacciones" message="tns:IService_LimpiarTransacciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LimpiarTransaccionesResponse" message="tns:IService_LimpiarTransacciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimpiarConversiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LimpiarConversiones" message="tns:IService_LimpiarConversiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LimpiarConversionesResponse" message="tns:IService_LimpiarConversiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaTransacciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListaTransacciones" message="tns:IService_ListaTransacciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListaTransaccionesResponse" message="tns:IService_ListaTransacciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TotalizadoEUR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TotalizadoEUR" message="tns:IService_TotalizadoEUR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TotalizadoEURResponse" message="tns:IService_TotalizadoEUR_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarTransacciones">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarTransacciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTransacciones">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarTransacciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTransacciones">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerTransacciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarConversiones">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarConversiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarConversiones">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarConversiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConversiones">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerConversiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTransacciones">
      <soap:operation soapAction="http://tempuri.org/IService/BuscarTransacciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaXMLTransac">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultaXMLTransac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaXMLConver">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultaXMLConver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiarTransacciones">
      <soap:operation soapAction="http://tempuri.org/IService/LimpiarTransacciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiarConversiones">
      <soap:operation soapAction="http://tempuri.org/IService/LimpiarConversiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaTransacciones">
      <soap:operation soapAction="http://tempuri.org/IService/ListaTransacciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalizadoEUR">
      <soap:operation soapAction="http://tempuri.org/IService/TotalizadoEUR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:59365/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>